.container-fluid{
  font-family: 'Inconsolata', monospace!important;
  /*font-family: 'Roboto', sans-serif!important;*/
}

h1{
font-size:5rem;
}

h2{
  font-size: 3rem;
}

/* BASIC COLORS  */

.bg-dark{
background-color: #010628!important;
}

.text-primary{
color: #FFEBF0!important;
}

code{
  color : #FF1F57;
}
/* NAVIGATION */

img{
margin-left : 4.5rem;
margin-top : 1.5rem;
}

.navbar-nav{
  font-size: 40px;
  margin-left : 20rem ;
  }
.nav-item{
  margin-left: 8rem!important;
  margin-top : 1.5rem;
}

.nav-link{
color: #FFEBF0!important; 
}

.nav-link:hover{
  color : #07ED7A!important;
}
/* SECTION 1 */

.presentation{
  margin-left : 4rem;
  margin-top : 13.9rem;
}

.animation{
  margin-top : 12.3rem;
}

/* SECTION 2 */