*{
  padding:0;
  margin:0;
}

body{
  font-family: 'Inconsolata', monospace;
  font-family: 'Roboto', sans-serif;
  background-color: #010628;
  margin-top: 94px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}


p{
  color:#FFEBF0;
}

/* Header */

header{
grid-column: 1/13;
display: grid;
grid-template-columns: repeat(12, 1fr);

}

img#logo{
  width: 169.9px;
  height: 94.06px;
  grid-column: 2/4;
}


nav{
grid-column: 5/12 ;
}


ul{
  font-family: 'Inconsolata', monospace;
  font-weight: 500;
  font-size: 25pt;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}


a:link{
  color: #FFEBF0;
  text-decoration:none;
}

a:visited {
  color: #FFEBF0;
}

a:active{
  color: #FFEBF0;
}

a:hover{
  color: #FFEBF0;
}

/* Section 1 */


#home_page{
  grid-column: 1/13;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

}


h1{
  color: #FFEBF0;
  font-family: 'Inconsolata', monospace;
  font-weight: normal;
}

#home_page_title{
  grid-column: 2/8;
  line-height: 100px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
}

h1:first-of-type{
  font-size: 40pt;
}

h1:last-of-type{
  font-family: 'Roboto', sans-serif;
  font-size: 35pt;
}

span#pink_name{
  color: #FF1F57;
  font-family: 'Inconsolata', monospace;
  font-weight: normal;
  font-size: 70pt;
}

/* Section 2 */

#portfolio_page{
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#portfolio_page h3{
  grid-column: 8/12;
  font-family: 'Inconsolata', monospace;
  font-weight: normal;
  font-size: 79pt;
  color: #0029E0;
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
}

#portfolio_project_one{
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 150px;
  font-size: 20pt;
}

#portfolio_text{
  grid-column: 2/9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#portfolio_text .green_text{
  font-family: 'Inconsolata', monospace;
  font-size: 25pt;
  font-weight: bold;
  text-transform: uppercase;
  color : #07ED7A;
}

#portfolio_project_one img{
  width: 329px;
  height: 327px;
}

a{
  grid-column: 9/12;
  width: 329px;
  height: 327px;
}

/* Section 3 */

#about_page{
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top:100px;
}
#about_page h3{
  grid-column: 2/5;
  font-family: 'Inconsolata', monospace;
  font-weight: normal;
  color: #0029E0;
  font-size: 79pt;
}

#about_introduction{
  grid-column: 1/13;
  margin-top:150px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#about_introduction img{
  grid-column: 2/6;
  width: 296px;
  height: 320px;
}

#biography{
  grid-column: 7/13;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

#biography h4{
  color: #FFEBF0;
  font-size: 27.5pt;
}

#biography p{
  color: #FFEBF0;
  font-size: 15pt;
  text-align: justify;
  padding-right: 150px;
  padding-top: 40px;
}


span.pink_text{
  font-family: 'Inconsolata', monospace;
  color:#FF1F57;
  font-weight: bold;
  text-decoration-line: underline;
  font-size: 20pt;
}

#backgrounds{
  grid-column: 1/13;
  margin-top:100px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#education{
  grid-column: 2/6;
  display: flex;
  flex-flow: column nowrap;
}

#education p{
  font-size: 15pt;
  margin-top: 20px;
}

.bold{
  font-weight: bold ;
}

#xp{
  grid-column: 7/13;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

#xp img{
  width: 225.01px;
  height: 221.52px;
  padding-left: 100px;
}


h5{
font-size: 15pt;
font-weight: 600;
color: #FFEBF0;
position: relative;
bottom: 125px;
left: 200px;
}

#xp p{
text-align: justify;
font-size: 15pt;
padding-right: 150px;
padding-top: 40px;
}


#xp .green_link{
  font-size: 15pt;
  font-weight: bold;
  text-transform: uppercase;
  color : #07ED7A;
}

/* Section 4 */
/*
#skills h3{
  font-family: 'Inconsolata', monospace;
  font-weight: normal;
  font-size: 79pt;
  color: #0029E0;
  display: flex;
  justify-content: flex-end;
  margin-top: 150px;
  padding-right: 190px;
}

/*
#soft_skills{
  margin-top: 150px;
}

#soft_one{
  display: flex;
  justify-content: center;
  align-items: center;
}

#soft_two{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  margin-right: 55px;
}

#soft_one p{
  position: absolute;
}

#soft_one p:first-of-type{

left: 400px;
}

#soft_one p:nth-of-type(2){
  font-size: 20pt;
}

#soft_one p:last-of-type{
  right: 410px;
}

#soft_skills .under_skills_circles{
  width: 205.01px;
  height: 201.52px;
}

#soft_skills .main_skills_circles{
  width: 275.01px;
  height: 271.52px;
}

#soft_two p{
  position: absolute;
}

#soft_two p:first-of-type{
  left: 400px;
}

#soft_two p:nth-of-type(2){
  font-size: 20pt;
}
#soft_two p:last-of-type{
  right:195px;
}

*/
/*
#skills img{
width: 90%;
}

#soft_skills{
  margin-top : 150px;
}

#languages{
  margin-top : 100px;
}

#hard_skills{
  margin-top : 100px;
}

/* Section 5 : Contact */
/*
#contact h3{
  font-family: 'Inconsolata', monospace;
  font-weight: normal;
  font-size: 79pt;
  color: #0029E0;
  display: flex;
  justify-content: flex-start;
  margin-top: 150px;
  padding-left: 190px;
}


#content_section{
  height: 400px;
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-top: 150px;
  margin-bottom: 150px;
}

#text_contact{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

#text_contact p{

  font-size: 15pt;
}

#text_contact .green_title{
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  color : #07ED7A;
}

#text_contact .pink_name{
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  color:#FF1F57;
}

#contact_icons{
display: flex;
flex-direction: row nowrap;
justify-content: flex-start;
}

#contact_icons  img:last-of-type{
  padding-left: 50px;
}

#form_contact{
  width: 40%;
  color: #FFEBF0;
  background: linear-gradient(180deg, rgba(255, 31, 87, 0.7) 0%, rgba(0, 41, 224, 0.1) 100%);
}

form{
  padding-top: 30px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

input[type=text]{
  width: 50%;
  height: 30px;
  background-color: #FFEBF0;
  color: #0029E0;
  font-weight: bold;
  border: none;
  text-align: center;
}

input[type=email]{
  width: 50%;
  height: 30px;
  background-color: #FFEBF0;
  color: #0029E0;
  font-weight: bold;
  border: none;
  text-align:center;
}

textarea{
  width: 50%;
  height: 100px;
  background-color: #FFEBF0;
  color: #0029E0;
  font-weight: bold;
  resize: none;
  border: none;
  text-align: justify;
}

input[type=submit]{
  width:50% ;
  height:30px;
  cursor: pointer;
  background-color: #07ED7A;
  color:#010628;
  font-weight: bold;
  border: none;
  border-radius: 2%;
}

