*{
  padding:0;
  margin:0;
}

body{
  font-family: 'Inconsolata', monospace;
  font-family: 'Roboto', sans-serif;
  background-color: #010628;
  margin-top: 94px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow-x :hidden; /* Pour éviter le scroll horizontal */
}


p{
  color:#FFEBF0;
}

/* Header */

header{
grid-column: 1/13;
display: grid;
grid-template-columns: repeat(12, 1fr);

}

img#logo{
  width: 169.9px;
  height: 94.06px;
  grid-column: 2/4;
}


nav{
grid-column: 5/12 ;
}


ul{
  font-family: 'Inconsolata', monospace;
  font-weight: 500;
  font-size: 25pt;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}


a:link{
  color: #FFEBF0;
  text-decoration:none;
}

a:visited {
  color: #FFEBF0;
}

a:active{
  color: #FFEBF0;
}

a:hover{
  color: #FFEBF0;
  cursor: crosshair;
}

/* Section 1 */


#home_page{
  grid-column: 1/13;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}


h1{
  color: #FFEBF0;
  font-family: 'Inconsolata', monospace;
  font-weight: normal;
}

#home_page_title{
  grid-column: 2/8;
  line-height: 100px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
}

h1:first-of-type{
  font-size: 40pt;
}

h1:last-of-type{
  font-family: 'Roboto', sans-serif;
  font-size: 35pt;
}

span#pink_name{
  color: #FF1F57;
  font-family: 'Inconsolata', monospace;
  font-weight: normal;
  font-size: 70pt;
}

#call_to_portfolio{
  grid-column: 9/12
}

#portfolio_link{
  height: 100px;
  font-family: 'Inconsolata', monospace;
  font-size: 25pt;
  color : #010628;
  background-color:#07ED7A ;
  font-weight: bold;
  text-transform: uppercase;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: crosshair;
  margin-top: 270px;
}
/* Section 2 */

#portfolio_page{
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#portfolio_page h3{
  grid-column: 8/12;
  font-family: 'Inconsolata', monospace;
  font-weight: normal;
  font-size: 79pt;
  color: #0029E0;
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
}

#portfolio_project_one{
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 150px;
  font-size: 20pt;
}

#portfolio_text{
  grid-column: 2/9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#portfolio_text .green_text{
  font-family: 'Inconsolata', monospace;
  font-size: 25pt;
  font-weight: bold;
  text-transform: uppercase;
  color : #07ED7A;
}

#portfolio_project_one img{
  width: 329px;
  height: 327px;
}

a{
  grid-column: 9/12;
  width: 329px;
  height: 327px;
}

/* Section 3 */

#about_page{
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top:100px;
}
#about_page h3{
  grid-column: 2/5;
  font-family: 'Inconsolata', monospace;
  font-weight: normal;
  color: #0029E0;
  font-size: 79pt;
}

#about_introduction{
  grid-column: 1/13;
  margin-top:150px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#about_introduction img{
  grid-column: 2/6;
  width: 296px;
  height: 320px;
}

#biography{
  grid-column: 7/13;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

#biography h4{
  color: #FFEBF0;
  font-size: 27.5pt;
}

#biography p{
  color: #FFEBF0;
  font-size: 15pt;
  text-align: justify;
  padding-right: 150px;
  padding-top: 40px;
}


span.pink_text{
  font-family: 'Inconsolata', monospace;
  color:#FF1F57;
  font-weight: bold;
  text-decoration-line: underline;
  font-size: 20pt;
}

#backgrounds{
  grid-column: 1/13;
  margin-top:100px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#education{
  grid-column: 2/6;
  display: flex;
  flex-flow: column nowrap;
}

#education p{
  font-size: 15pt;
  margin-top: 20px;
}

.bold{
  font-weight: bold ;
}

#xp{
  grid-column: 7/13;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

#xp img{
  width: 225.01px;
  height: 221.52px;
  padding-left: 100px;
}


h5{
font-size: 15pt;
font-weight: 600;
color: #FFEBF0;
position: relative;
bottom: 125px;
left: 200px;
}

#xp p{
text-align: justify;
font-size: 15pt;
padding-right: 150px;
padding-top: 40px;
}


#xp .green_link{
  font-size: 15pt;
  font-weight: bold;
  text-transform: uppercase;
  color : #07ED7A;
}

/* Section 4 */

#skills_page{
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top:100px;
}

#skills_page h3{
  grid-column: 8/12;
  font-family: 'Inconsolata', monospace;
  font-weight: normal;
  font-size: 79pt;
  color: #0029E0;
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
}

.under_skills_circles{
  width: 205.01px;
  height: 201.52px;
}

.main_skills_circles{
  width: 275.01px;
  height: 271.52px;
}

    /* Soft skills */

#soft_skills{
  grid-column: 1/13;
  margin-top:100px;
  display:flex;
  flex-flow:column nowrap;
}

#soft_one{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#soft_one img:nth-of-type(1){
  grid-column: 3/5;
}

#soft_one img:nth-of-type(2){
  grid-column: 6/8;
}

#soft_one img:nth-of-type(3){
  grid-column: 9/11;
}

  #soft_one p{
    position: relative;
    right: 180px;
    top: 85px;
}

#soft_two{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#soft_two img:nth-of-type(1){
  grid-column: 2/4;
}

#soft_two p:first-of-type{
  position: relative;
  right: 190px;
  top: 90px;
}


#soft_two img:nth-of-type(2){
  grid-column: 6/8;
  position:relative;
  right: 35px;
}

#soft_two p:nth-of-type(2){
  font-size: 23pt;
  position: relative;
  right: 185px;
  top: 90px;
}

  #soft_two img:nth-of-type(3){
    grid-column: 10/12;
}

#soft_two p:last-of-type{
  position: relative;
  right: 175px;
  top: 75px;
}

/* Languages */

#languages{
  margin-top:150px;
  grid-column:1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.under_languages_circles{
  width: 200px;
  height: 271.97px;
}

#languages_leftSide{
  padding-top:110px;
  grid-column: 2/5;
}

#languages_leftSide p:first-of-type{
  font-size: 23pt;
  position: relative;
  left: 65px;
  bottom: 150px;
}

#languages_rightSide{
  grid-column : 5/13;
}

#languages_rightSide #languages_one{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.languages_name{
  position: relative;
  right: 120px;
  top: 75px;
}

.languages_level{
  position: relative;
  right: 150px;
  top: 180px;
}

#languages_rightSide #languages_two{
  margin-top: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  }

  /* Hard Skills */

#hard_skills{
  margin-top:150px;
  grid-column:1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  }

#hardSkills_leftSide{
  padding-top:110px;
  grid-column: 2/5;
  }

#hardSkills_rightSide{
  grid-column : 5/12;
  display: flex;
  flex-flow:row wrap;
  justify-content: flex-start;
  }

#hardSkills_leftSide p:first-of-type{
  font-size: 23pt;
  position: relative;
  left: 100px;
  bottom: 180px;
  }

.hardSkill_name{
  position: relative;
  right: 120px;
  top: 85px;
}

/* Section 5 : Contact */

#contact_page{
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top:100px;
}

#contact_page h3{
  grid-column: 2/5;
  font-family: 'Inconsolata', monospace;
  font-weight: normal;
  color: #0029E0;
  font-size: 79pt;
}

#contact_section{
  margin-top:100px;
  margin-bottom: 100px;
  height: 400px;
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#contact_leftSide{
  height: 400px;
  grid-column: 2/6;
  display: flex;
  flex-flow: column wrap;
}

#contact_rightSide{
  grid-column: 7/12;
  color: #FFEBF0;
  background: linear-gradient(180deg, rgba(255, 31, 87, 0.7) 0%, rgba(0, 41, 224, 0.1) 100%);
}

#leftSide_text p{
  padding-top: 15px;
  font-size: 15pt;
}

#leftSide_text .green_title{
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  color : #07ED7A;
}

#leftSide_text .pink_name{
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  color:#FF1F57;
}

#leftSide_icons{
padding-top: 30px ;
}

#leftSide_icons a:last-of-type{
  padding-left: 20px;
}

form{
  padding-top: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

form p{
  margin-top: 10px;
}

input[type=text]{
  width: 50%;
  height: 30px;
  background-color: #FFEBF0;
  color: #0029E0;
  font-weight: bold;
  border: none;
  text-align: center;
  margin-top: 10px
}

input[type=email]{
  width: 50%;
  height: 30px;
  background-color: #FFEBF0;
  color: #0029E0;
  font-weight: bold;
  border: none;
  text-align:center;
  margin-top: 10px
}

textarea{
  width: 50%;
  height: 100px;
  background-color: #FFEBF0;
  color: #0029E0;
  resize: none;
  border: none;
  text-align: justify;
  margin-top: 10px
}

input[type=submit]{
  width:50% ;
  height:30px;
  cursor: crosshair;
  background-color: #07ED7A;
  color:#010628;
  font-weight: bold;
  border: none;
  border-radius: 2%;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Animations */

